.over-home-component {
  background-color: transparent;
}

.past-home-component {
  background-color: rgba(131,70,70,1);
  box-shadow: 0 2px 7px rgba(0,0,0,0.1), 0 1px 5px rgba(0,0,0,0.2);
}

div {
  background: linear-gradient(to top, transparent, rgba(87,34,34,0.6) 90%);
  background-color: transparent;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 5;

  .logo {
    font-size: 1.3em;
    color: rgba(255,255,255,0.9);
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
  }

  nav {
    float: right;

    ul {
      list-style-type: none;
      margin: 0; 
      padding: 0;

      li {
        float: left;
        padding: 1.5em;

        a {
          color: rgba(255,255,255,0.9);
          font-size: .8em;
        
          &:hover {
            padding-bottom: .2em;
            border-bottom: .05em solid rgba(255,255,255,0.9);
          }
        }
      }
    }
  }
}